<html  ng-app="imageRecognition">
<head>
    <title>Face Recognition Attendance System</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="face-api.min.js"></script>
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="MyCtrl">

<header>
    <nav class="navbar navbar-default">
        <div class="container ">
            <div class="navbar-header">
                <span class="navbar-brand" href="/">Face Recognition Attendance System</span>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"  data-toggle="modal" data-target="#registerModel"><i class="glyphicon glyphicon-plus-sign"></i> Register</a></li>
                <li><a href="#"  data-toggle="modal" data-target="#loginModel"><i class="glyphicon glyphicon-user"></i> Login</a></li>
                <li><a href="#" data-toggle="modal" data-target="#contactModel"><i class="fa fa-comment"></i> Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<div  class="container midSection"  align="center">
    <div class="input-group" align="center">
        <button class="btn btn-default mr-20  rounded-0 btnSize" data-toggle="modal" ng-click="ScanImageForAtt()" data-target="#scanImage">
            <b>Scan Image</b>
        </button>
       <!-- <label class="btn btn-default">
            Browse Image <input type="file" file-handler fileinput="myFile" filepreview="filepreview" hidden>
        </label>&nbsp;&nbsp;-->
        <!--<button class="btn btn-primary rounded-0" ng-click="attendance()">Submit Attendance</button>-->
    </div>
    <!--<div class="col-md-6">
        <h3 align="center">PreView Image:</h3>
        &lt;!&ndash;<img  class="img-rounded" ng-show="filepreview" ng-src="{{filepreview || 'http://placehold.it/180'}}" class="img-responsive"/>&ndash;&gt;
    </div>-->
    <div class="col-md-12">
        <img width="400" height="400" ng-src="img/Loading_icon.gif" ng-show="showLoadingIcon"/>
        <!--<img ng-show="isFileMatched" width="400" height="400"
             ng-src="data:image/JPEG;base64,{{matchedFileSrc}}" class="img-responsive"/>-->
        <div ng-if="isFileMatched">
            <h3>Status</h3>
            <div class="text-center">
                <p><b><font color="blue">Attendance Submitted For {{employeeData.name}} From {{ employeeData.department }} Department!
                </font></b></p>
               <!-- <div ng-model="ShowSuccessMessage">{{ShowSuccessMessage}}</div>-->

                <div class="col-sm-5 col-sm-offset-3">
                <img width="200" height="200" ng-show="isFileMatched" ng-src="{{matchedFileSrc || 'http://placehold.it/140'}}" class="img-responsive"/>

            </div>
        </div>
    </div>
        <p ng-show="showUnMatchMessage">{{unMatchMessage}}</p>

</div>
<div class="container-fluid">
    <footer class="text-center navbar navbar-default footer">
            <!--<div class="navbar-footer">
                <a class="navbar-brand" href="/">Face Recognition System</a>
            </div>-->
            <p>&copy;ITT Face Recognition System.
            </p>
    </footer>
</div>
<!-- Modal -->
<div  class="modal fade glyphicon-text-color" id="registerModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Register Employee</h4>
            </div>
            <div class="modal-body">
                <form >
                        <div class="form-group">
                            <label class="form-group" name="employeeId"  >Employee Id:</label>
                            <input type="text"  class="form-control" ng-model="user.empId"  name="employeeIdtextbox" placeholder="Employee Id">
                        </div>
                        <div class="form-group">
                            <label class="form-group" name="userName">Full Name:</label>
                            <input type="text" class="form-control" ng-model="user.name"  name="userNametextbox" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <label class="form-group" name="department">Department:</label>
                            <input type="text" class="form-control" ng-model="user.department"  name="departmenttextbox" placeholder="Department">
                        </div>
                        <div class="form-group">
                            <label class="form-group" name="email">Email:</label>
                            <input type="text" class="form-control" ng-model="user.email"  name="emailTextbox" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label class="form-group" name="MobileNo">Mobile No:</label>
                            <input type="text" class="form-control" ng-model="user.mobile"  name="mobiletextbox" placeholder="Mobile No:">
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="register()">Register</button>
            </div>
        </div>
    </div>
</div>
<div  class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel1"> LogIn </h4>
            </div>
            <div class="modal-body">
                Implementation is pending.....
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"ng-disable="true" ng-click="login()">Login</button>
            </div>
        </div>
    </div>
</div>
<div  class="modal fade" id="contactModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel2">About</h4>
            </div>
            <div class="modal-body">
                Implementation is pending.....
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="getAbout()">Login</button>-->
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="scanImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel6">Scan Image</h4>
                <video id="video" width="400" height="400" autoplay muted></video>
                <canvas id="canvas" style="overflow:auto" hidden="true"></canvas>
                <img src="" id="capImg" hidden="true"></img>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-if="isCapturedImage" ng-click="cpImage('myModalLabel6')">Capture Image</button>
                <button type="button" class="btn btn-primary" ng-if="!isCapturedImage" ng-click="attendance()">Yes It's me</button>
            </div>
        </div>
    </div>
</div>
<!--<div class="modal fade" id="scanAndSaveImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel7">Scan Image</h4>
                <video id="video" width="400" height="400" autoplay muted></video>
                <canvas id="canvas" style="overflow:auto" hidden="true"></canvas>
                <img src="" id="capImg" hidden="true"></img>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-if="isCapturedImage" ng-click="cpImage('myModalLabel7')">Capture Image</button>
                <button type="button" class="btn btn-primary" ng-if="!isCapturedImage" ng-click="registerImage()">Save Image</button>
            </div>
        </div>
    </div>
</div>-->
</body>
</html>
