<html  ng-app="imageRecognition">
<head>
    <title>Face Recognition Attendance System</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap" rel="stylesheet">
    <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="MyCtrl">

<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Face Recognition Attendance System</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"  data-toggle="modal" data-target="#registerModel"><i class="fa fa-home"></i> Register</a></li>
                <li><a href="#about"><i class="fa fa-shield"></i> Login</a></li>
                <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<div  class="container midSection"  align="center">
    <!--<h1>*** ITT Face Recognition System ***</h1>-->
    <div class="input-group" align="center">
        <button class="btn btn-default mr-20  rounded-0">
            Capture Image <input type="file" file-handler fileinput="myFile" filepreview="filepreview" hidden>
        </button>
        <button class="btn btn-primary rounded-0" ng-click="uploadFile()">Submit Attendance</button>
    </div>
    <div class="col-md-6">
        <h3 align="center">PreView Image:</h3>
        <img  class="img-rounded" ng-show="true" ng-src="{{filepreview || 'http://placehold.it/180'}}" class="img-responsive"/>
    </div>
    <div class="col-md-6">



        <!--<h3 align="center">Status</h3>-->
        <img width="400" height="400" ng-src="img/Loading_icon.gif" ng-show="showLoadingIcon"/>
        <!--<img ng-show="isFileMatched" width="400" height="400"
             ng-src="data:image/JPEG;base64,{{matchedFileSrc}}" class="img-responsive"/>-->
        <div>
            <h3>Status</h3>
            <div class="card text-left">
                <img ng-show="true" ng-src="{{filepreview || 'http://placehold.it/180'}}" class="img-responsive"/>
                <div class="p-20">

                </div>
            </div>
        </div>
        <div ng-model="ShowSuccessMessage">{{ShowSuccessMessage}}</div>
        <p ng-show="showUnMatchMessage">{{unMatchMessage}}</p>
    </div>

</div>
<div>
    <footer class="text-center navbar navbar-default footer">
        <div class="container">
            <!--<div class="navbar-footer">
                <a class="navbar-brand" href="/">Face Recognition System</a>
            </div>-->
            <p><footer>&copy;Face Recognition System</footer>
            </p>
        </div>
    </footer>
</div>



<!-- Modal -->
<div  class="modal fade" id="registerModel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Register Employee</h4>
            </div>
            <div class="modal-body">
                <form >
                        <div class="form-group">
                            <label class="form-group" name="employeeId"  >Employee Id:</label>
                            <input type="text"  class="form-control" ng-model="user.empId"  name="employeeIdtextbox" placeholder="Employee Id">
                        </div>
                        <div class="form-group">
                            <label class="form-group" name="userName">Full Name:</label>
                            <input type="text" class="form-control" ng-model="user.name"  name="userNametextbox" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <label class="form-group" name="department">Department:</label>
                            <input type="text" class="form-control" ng-model="user.department"  name="departmenttextbox" placeholder="Department">
                        </div>
                        <div class="form-group">
                            <label class="form-group" name="email">Email:</label>
                            <input type="text" class="form-control" ng-model="user.email"  name="emailTextbox" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label class="form-group" name="MobileNo">Mobile No:</label>
                            <input type="text" class="form-control" ng-model="user.mobile"  name="mobiletextbox" placeholder="Mobile No:">
                        </div>
                </form>
            </div>
            <div class="modal-footer">
                <span>{{testme}}</span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="register()">Register</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>
