img {
    width:100%;
}
[hidden] {
    display: none !important;
}
main {
    overflow-y: auto;
}
body {
    font-family: 'Nunito', sans-serif !important;
}
.toolbardemoBasicUsage md-toolbar .md-button.md-icon-button .favorite-icon {
    fill: #DE3641; }

.toolbardemoBasicUsage md-toolbar md-toolbar-filler {
    background-color: #e0e0e0; }
.toolbardemoBasicUsage md-toolbar md-toolbar-filler #filler-icon {
    fill: #4C9EF1; }

.midSection{
    margin-bottom: 55px;
}

.footer{
    position: fixed !important;
    bottom: 0;
    margin-bottom: 0 !important;
    width: 100%;
}

.navbar-default {
    background-color: #9eabf3;
    border-color: #e7e7e7;
}

nav.navbar.navbar-default {
    background: #efefef;
}
.rounded-0 {
    border-radius: 0 !important;
}
.mr-20 {
    margin-right:20px
}
.p-20 {
    padding:20px
}
.card {
    border: solid 1px #ddd;
    border-radius: 6px;
}