[hidden] {
    display: none !important;
}
main {
    overflow-y: auto;
}

.toolbardemoBasicUsage md-toolbar .md-button.md-icon-button .favorite-icon {
    fill: #DE3641; }

.toolbardemoBasicUsage md-toolbar md-toolbar-filler {
    background-color: #e0e0e0; }
.toolbardemoBasicUsage md-toolbar md-toolbar-filler #filler-icon {
    fill: #4C9EF1; }

.midSection{
    margin-bottom: 55px;
}

.footer{
    position: fixed !important;
    bottom: 0;
    margin-bottom: 0 !important;
    width: 100%;
}

.navbar-default {
    background-color: #9eabf3;
    border-color: #e7e7e7;
}